@import "src/App.scss";

.container-header {
  justify-content: center;
}

.container-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 72px;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}

.logo-header {
  margin-right: 95px;
}

.container-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 32px;
  justify-content: space-evenly;
  color: $gray;
  border-bottom: 1px solid $light_gray;
}

.text-gray {
  color: $gray;
}

.text-pink {
  color: $pink;
}

.mr-2 {
  margin-right: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.container-header-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 8px 16px 0px rgba(57, 48, 19, 0.12);
}
