@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

$gray: #9f9f9f;
$white: #ffffff;
$black: #000000;
$light_gray: #f6f5f2;
$pink: #f71963;
$gray_line: #dedede;
$gray_categories: #3b3b3b;
$gray_price: #808080;

.container {
  max-width: 1280px;
  margin: auto;
}
